//neutral
$neutral-01: #000000;
$neutral-02: #3D352F;
$neutral-03: #65646A;
$neutral-04: #86858A;
$neutral-05: #AAABAD;

//primary
$primary-01: #321ECB;
$primary-02: #2667FF;
$primary-03: #3F8EFC;
$primary-04: #D7EEFF;

//accent
$accent-01:  #FF6D00;
$accent-02:  #FF9E00;