@use 'color';
.btn {
    color: color.$neutral-02;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
}

.btn:hover {
    color: color.$neutral-01;
    background: #eee;
    border-bottom: solid 1px color.$accent-01;
}

.nav{
    min-height: 56px;
}

.logo{
    color: color.$primary-01;
    flex-grow: 1;
    font-weight: bolder;
}
.signout_btn{
    color: #ffff;
    border: none;
    background-color: color.$primary-02;
    padding: 14px 28px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 20px;
}


