@use 'color';
.welcome_text{
    color: color.$neutral-02;
    margin: 0;
    margin-left: 20;
    padding-top:0;
    padding-bottom:0;
    font-weight: 500;
    font-size: 3.5rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.signin_text{
    text-transform:capitalize;
    font-weight:400;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    padding-left: 10px;
    padding: 5px;
    padding-right: 10px;
    margin-bottom: 30px;

}
.signin_btn{
    display: flex;
    align-items: center;
    border-radius: 18px;
    width: 500;
    background-color: white;
    border-style: solid;
    border: 1px solid color.$neutral-05;
    color: color.$neutral-04;
    cursor: pointer;
    padding: 2px 40px;
    padding-left: 45px;
    margin-top: 20px;
}
.signin_btn:hover{
    color: #eee;
    background: color.$neutral-05;
}

.google_img{
    padding: 5px;
    margin-top:5px;
}

.landing_img{
    margin-right: 20;
}